'use strict';
// Configure authentication
const authUser = "${username}";
const authPass = "${password}";
const authString = 'Basic ' + new Buffer(authUser + ':' + authPass).toString('base64');


exports.handler = (event, context, callback) => {
    const request = event.Records[0].cf.request;
    console.log("Request Log", request);
    const headers = request.headers;
    if (typeof headers.authorization == 'undefined' || headers.authorization[0].value != authString) {
        const body = 'Unauthorized';
        const response = {
            status: '401',
            statusDescription: 'Unauthorized',
            body: body,
            headers: {
                'www-authenticate': [{ key: 'WWW-Authenticate', value: 'Basic' }]
            },
        };
        callback(null, response);
    }
    callback(null, request);
};