'use strict';
// Configure authentication
const authUser = "${username}";
const authPass = "${password}";
const authString = 'Basic ' + new Buffer(authUser + ':' + authPass).toString('base64');

function handler(event) {
    const request = event.request;
    const headers = request.headers;

    %{ if index_redirect }
    // Check whether the URI is missing a file name.
    if (request.uri.endsWith('/')) {
        request.uri += 'index.html';
    }
    // Check whether the URI is missing a file extension.
    else if (!request.uri.includes('.')) {
        request.uri += '/index.html';
    }
    %{ endif }

    if (typeof headers.authorization == 'undefined' || headers.authorization[0].value != authString) {
        const body = 'Unauthorized';
        const response = {
            status: '401',
            statusDescription: 'Unauthorized',
            body: body,
            headers: {
                'www-authenticate': [{ key: 'WWW-Authenticate', value: 'Basic' }]
            },
        };
        return response;
    }

    return request;
};